[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kiranmac04
[access "refs/for/refs/*"]
	read = group user/kiranmac04
	push = group user/kiranmac04
	label-Code-Review = -2..+2 group user/kiranmac04
	label-Verified = -1..+1 group user/kiranmac04
	rebase = group user/kiranmac04
	removeReviewer = group user/kiranmac04
	submit = group user/kiranmac04
[access "refs/heads/*"]
	read = group user/kiranmac04
	create = group user/kiranmac04
	push = +force group user/kiranmac04
	pushMerge = group user/kiranmac04
[access "refs/tags/*"]
	push = group user/kiranmac04
	push = +force group user/kiranmac04
